.body-chart {
    display: flex;
    margin-left: 80px;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    .container-bar-chart {
        background-color: #fff;
        border-radius: 5px;
        width: 45%;
        height: 600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        #chartDom {
            width: 500px;
            height: 500px
        }
        .titleChart {
            height: 20px;
        }
    }
    .container-income-chart {
        background-color: #fff;
        border-radius: 5px;
        width: 45%;
        height: 600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        #chart-income {
            width: 500px;
            height: 500px
        }
    }
    .container-expense-chart {
        background-color: #fff;
        border-radius: 5px;
        width: 45%;
        height: 600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        #chart-expense {
            width: 500px;
            height: 500px
        }
    }
}

.month-picker {

    margin: 5px auto;
    background-color: #fff;
    border-radius: 5px;
    width: 50%;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    p {
        margin-right: 5px;
    }
}

